:root {
  --body-color: #434455;
  --body-background-color: #ffffff;
  --section-one-titl-color: #ffffff;
  --logo-color-web: #4d5ae5;
  --logo-color-studio: #2e2f42;
  --head-link: #2e2f42;
  --head-link-hf: #404bbf;
  --header-address-mail: #434455;
  --header-address-mail-hf: #404bbf;
  --section-one-background-color: #2e2f42;
  --section-one-button-color: #ffffff;
  --section-one-button-background-color: #4d5ae5;
  --section-one-button-hf: #404bbf;
  --button-text-hf: #404bbf;
  --footer-logo-studio: #f4f4fd;
  --section-two-li: #2e2f42;
  --section-two-par: #434455;
  --section-three: #2e2f42;
  --section-four-background-color: #f4f4fd;
  --section-four-team: #2e2f42;
  --section-four-h-background-color: #ffffff;
  --footer-background-color: #2e2f42;
  --portfolio-one-button-color: #4d5ae5;
  --portfolio-one-button-background-color: #f4f4fd;
  --portfolio-one-button-hf-background-color: #404bbf;
  --portfolio-button-text-hf-color: #ffffff;
  --portfolio-two-one: #2e2f42;
  --portfolio-two-p: #434455;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--body-color, #434455);
  background-color: var(--body-background-color, #ffffff);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.heder-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-color-web, #4d5ae5);
}

.heder-logo-studio {
  color: var(--logo-color-studio, #2e2f42);
}

.head-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--head-link, #2e2f42);
}

.head-link:is(:hover, :focus) {
  color: var(--head-link-hf, #404bbf);
}

.header-address {
  font-style: normal;
}

.header-address-mail {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-address-mail, #434455);
}

.header-address-mail:is(:hover, :focus) {
  color: var(--header-address-mail-hf, #404bbf);
}

.section-one {
  background-color: var(--section-one-background-color, #2e2f42);
}

.section-one-titl {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--section-one-titl-color, #ffffff);
}
.section-one-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--section-one-button-color, #ffffff);
}

.section-one-button {
  background-color: var(--section-one-button-background-color, #4d5ae5);
}
.section-one-button:is(:hover, :focus) {
  background-color: var(--section-one-button-hf, #404bbf);
}

.button-text:is(:hover, :focus) {
  color: var(--button-text-hf, #404bbf);
}
.section-one-button {
  cursor: pointer;
}
.section-two-li {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--section-two-li, #2e2f42);
}
.section-two-par {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--section-two-par, #434455);
}
.section-three {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--section-three, #2e2f42);
}
.section-four {
  background-color: var(--section-four-background-color, #f4f4fd);
}
.section-four-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--section-four-team, #2e2f42);
}
.section-four-h {
  background-color: var(--section-four-h-background-color, #ffffff);
}

.footer {
  background-color: var(--footer-background-color, #2e2f42);
}

.heder-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-color-web, #4d5ae5);
}

.footer-logo-studio {
  color: var(--footer-logo-studio, #f4f4fd);
}

.portfolio-one-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--portfolio-one-button-color, #4d5ae5);
}
.portfolio-one-button {
  background-color: var(--portfolio-one-button-background-color, #f4f4fd);
}
.portfolio-button-text:is(:hover, :focus) {
  color: var(--portfolio-button-text-hf-color, #ffffff);
}

.portfolio-one-button:is(:hover, :focus) {
  background-color: var(--portfolio-one-button-hf-background-color, #404bbf);
}

.portfolio-one-button {
  cursor: pointer;
}
.portfolio-two-one {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--portfolio-two-one, #2e2f42);
}
.portfolio-two-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--portfolio-two-p, #434455);
}
