h1,
h2,
h3,
p,
ul,
img,
a {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}

img {
  display: block;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --body-color: #434455;
  --body-background-color: #ffffff;
  --section-one-titl-color: #ffffff;
  --logo-color-web: #4d5ae5;
  --logo-color-studio: #2e2f42;
  --head-link: #2e2f42;
  --head-link-hf: #404bbf;
  --header-address-mail: #434455;
  --header-address-mail-hf: #404bbf;
  --section-one-background-color: #2e2f42;
  --section-one-button-color: #ffffff;
  --section-one-button-background-color: #4d5ae5;
  --section-one-button-hf: #404bbf;
  --button-text-hf: #404bbf;
  --footer-logo-studio: #f4f4fd;
  --footer-text: #f4f4fd;
  --section-two-li: #2e2f42;
  --section-two-par: #434455;
  --section-three: #2e2f42;
  --section-four-background-color: #f4f4fd;
  --section-four-team: #2e2f42;
  --section-four-h-background-color: #ffffff;
  --footer-background-color: #2e2f42;
  --portfolio-button-color: #4d5ae5;
  --portfolio-button-background-color: #f4f4fd;
  --portfolio-button-hf-background-color: #404bbf;
  --portfolio-button-style: #e7e9fc;
  --portfolio-button-text-hf-color: #ffffff;
  --portfolio-two-one: #2e2f42;
  --portfolio-two-p: #434455;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--body-color, #434455);
  background-color: var(--body-background-color, #ffffff);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/*-----------------header----------------*/

.header {
  box-sizing: border-box;
  border-bottom: 1px solid var(--accent);
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.heder-logo {
  font-family: 'Raleway', sans-serif;
  align-items: center;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color-web, #4d5ae5);
  margin-left: 156px;
}

.heder-logo-studio {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color-studio, #2e2f42);
}

.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  display: flex;
  margin-left: 76px;
  gap: 40px;
}

.header-item {
}

.head-link {
  color: var(--head-link, #2e2f42);
}

.head-link:is(:hover, :focus) {
  color: var(--head-link-hf, #404bbf);
}

.header-address {
  font-style: normal;
}

.header-address-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-address-mail, #434455);
}

.header-address-mail:is(:hover, :focus) {
  color: var(--header-address-mail-hf, #404bbf);
}

.address {
  font-style: normal;
  line-height: 1.5;
  color: var(--header-address-mail-hf, #404bbf);
}
.header-address {
  display: flex;
  gap: 40px;
  margin-right: 156px;
}

/*---------------------Section-1------------*/
.section-one {
  background-color: var(--section-one-background-color, #2e2f42);
}

.section-one-titl {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--section-one-titl-color, #ffffff);
  padding-top: 188px;
}

.section-one-container {
  display: flex;
  justify-content: center;
  padding-bottom: 188px;
}
.section-one-button {
  border: none;
  padding: 16px 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--section-one-button-color, #ffffff);
  background-color: var(--section-one-button-background-color, #4d5ae5);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}

.section-one-button {
  background-color: var(--section-one-button-background-color, #4d5ae5);
}
.section-one-button:is(:hover, :focus) {
  background-color: var(--section-one-button-hf, #404bbf);
}

.button-text:is(:hover, :focus) {
  color: var(--head-link, #2e2f42);
}

/*---------------------Section-2------------*/
.features {
}
.section-two {
  display: flex;
  gap: 24px;
}
.section-two-container {
}
.section-two-li {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--section-two-li, #2e2f42);
}
.section-two-par {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--section-two-par, #434455);
}
/*---------------------Section-3------------*/

.section-three-photo {
  padding-bottom: 120px;
}
.section-three {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--section-three, #2e2f42);
}
.section-three-list {
  display: flex;
  gap: 24px;
}
/*---------------------Section-4------------*/

.section-four {
  background-color: var(--section-four-background-color);
}
.section-four-titel {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--section-four-team);
  margin-bottom: 72px;
}
.section-four-h {
  background-color: var(--section-four-h-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.section-four-team {
  display: flex;
  gap: 24px;
}

.section-four-img {
  margin-bottom: 32px;
}
.section-four-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--section-two-li);
  margin-bottom: 8px;
}

.section-four-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--section-two-par);
  margin-bottom: 32px;
}

/*---------------------Footer------------*/

.footer {
  position: absolute;
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;

  background-color: var(--footer-background-color, #2e2f42);
}
.footer-container {
  padding-top: 101.5px;
  padding-bottom: 100px;
  padding-left: 156px;
}

.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color-web);
}

.footer-logo-studio {
  color: var(--footer-logo-studio);
}
.footer-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: var(--footer-text);
}
.footer-text {
  position: absolute;
  width: 264px;
  height: 72px;
  left: 156px;
}
/*---------garaj------*/
color: var (--footer-text);
margin-top: 17.5px;

/*--------------Portfolio----------------*/
.button-container {
  padding-top: 96px;
}
.photo-container {
  padding-bottom: 120px;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.button-style {
  background: var(--portfolio-button-style);
  border-radius: 4px;
}

.portfolio-but {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--portfolio-button-color);
}
.portfolio-button-text {
  border: none;
  padding: 12px 24px;
  font-family: “Roboto”, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--portfolio-button-color);
  background-color: var(--portfolio-button-text-color);
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
}
.portfolio-button {
  background-color: var(--portfoli-button-background-color);
}
.portfolio-button-text:is(:hover, :focus) {
  color: var(--portfolio-button-text-hf-color);
}

.portfolio-button:is(:hover, :focus) {
  color: var(--portfolio-button-background-color);
  background-color: var(--portfolio-button-hf-background-color);
}
.button-lis :is(:hover, :focus) {
  color: var(--portfolio-button-background-color);
  background-color: var(--color-link);
}

.portfolio-button {
  cursor: pointer;
}
.portfolio-two-one {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--portfolio-two-one);
  margin-top: 32px;
  margin-left: 16px;
}
.portfolio-two-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--portfolio-two-p);
  margin-top: 8px;
  margin-bottom: 32px;
  margin-left: 16px;
}
.portfolio-photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  justify-content: center;
}

.portfolio-photo {
  border: 1px solid var(--accent);
}
